.tablediv {
    height: auto;
    width: 1000px;
    border: 1px solid rgb(27, 3, 3);
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: rgb(247, 191, 101);
    padding-bottom: 10px;
    padding-left: 110px;
}

body {
    background-image: url(libary3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: inline-block;
    align-items: center;
    color: rgb(15, 26, 131);
    /* box-shadow: 1px 1px 1px 1px rgb(22, 90, 149) ; */
    margin-left: 70px;
}

.tablehead {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 23px;
}

.secondrow {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.edit {
    background-color: rgb(15, 26, 131);
    color: rgb(247, 191, 101);
    border: none;
    border-radius: 11px;
    padding: 5px;
    text-decoration: none;
}

.delete {
    background-color: rgb(219, 7, 7);
    color: rgb(247, 191, 101);
    border: none;
    border-radius: 11px;
    padding: 5px;
    text-decoration: none;
}

/* .create{
    background-color: rgb(3, 199, 22);
    color: rgb(6, 6, 6);
    border: none;
    border-radius: 11px;
    padding: 10px;
    box-shadow: 1px 2px  15px    black;
} */

/* #create a {
    text-decoration: none;
} */
/* .create:hover{
    background-color: rgb(1, 144, 15);
    color: aliceblue;
    padding: 13px;
    transition: .3s;
    box-shadow: 2px 3px  16px black;
} */

.create {
    /* border: 2px solid red; */
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(187, 185, 185);
    background-color: blue;
    text-decoration: none;
    margin-left: 1187px;
    box-shadow: 2px 3px 17px rgb(9, 9, 9);
}

.create:hover {
    /* border: 2px solid red; */
    padding: 13px;
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 3, 182);
    transition: .3s;
    box-shadow: 2px 3px 17px rgb(255, 255, 255);
}

h4 {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 800;
    /* margin-right: 1300px; */
    margin-left: 30px;
    margin-top: 50px;
}

.count-boook {
    border: 1px solid black;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    padding: 6px 10px;
    margin-left: 742px;
    background-color: rgb(228, 147, 17);
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 20px;
}

.count {
    font-weight:bolder;
    font-style: normal;
    color: rgb(2, 81, 3);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.time{
    position: absolute;
    left: 200px;
    top: 25px;
    color: rgb(5, 79, 24);
}



/* body {
    height: 100%;
    margin: 0;
    
} */

/* .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}  */

.flower1 {
    position: absolute;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book05-removebg-preview.png'); 
    background-size: contain;
    animation: fall 10s infinite linear;
}
.flower2 {
    position: absolute;
    left: 160px;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book06-removebg-preview.png'); 
    background-size: contain;
    animation: fall2 8s infinite linear;
}
.flower3 {
    position: absolute;
    left: 400px;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book07-removebg-preview.png'); 
    background-size: contain;
    animation: fall3 6s infinite linear;
}
.flower4 {
    position: absolute;
    left: 600px;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book08-removebg-preview.png'); 
    background-size: contain;
    animation: fall4 10s infinite linear;
}
.flower5 {
    position: absolute;
    left: 800px;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book05-removebg-preview.png'); 
    background-size: contain;
    animation: fall5 8s infinite linear;
}
.flower6 {
    position: absolute;
    left: 1000px;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book06-removebg-preview.png'); 
    background-size: contain;
    animation: fall6 6s infinite linear;
}
.flower7 {
    position: absolute;
    left: 1300px;
    width: 100px;
    height: 100px;
    /* border: 2px solid red; */
    background-image: url('book07-removebg-preview.png'); 
    background-size: contain;
    animation: fall7 9s infinite linear;
}

@keyframes fall {
    0% {
        top: 0px;
    }
    25%{
        top: 125px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 375px;
    }
    100% {
        top: 500px;
    }
}
@keyframes fall2 {
    0% {
        top: -250px;
    }
    25%{
        top: 125px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 375px;
    }
    100% {
        top: 500px;
    }
}
@keyframes fall3 {
    0% {
        top: -100px;
    }
    25%{
        top: 100px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 350px;
    }
    100% {
        top: 500px;
    }
}
@keyframes fall4 {
    0% {
        top: 50px;
    }
    25%{
        top: 200px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 370px;
    }
    100% {
        top: 500px;
    }
}
@keyframes fall5 {
    0% {
        top: -250px;
    }
    25%{
        top: 125px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 375px;
    }
    100% {
        top: 500px;
    }
}
@keyframes fall6 {
    0% {
        top: -100px;
    }
    25%{
        top: 100px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 350px;
    }
    100% {
        top: 500px;
    }
}
@keyframes fall7 {
    0% {
        top: -250px;
    }
    25%{
        top: 125px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 375px;
    }
    100% {
        top: 500px;
    }
}